[submodule "mkl-dnn"]
	path = mkl-dnn
	url = https://github.com.cnpmjs.org/01org/mkl-dnn.git
[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com.cnpmjs.org/google/googletest.git
[submodule "tests/rapidcheck"]
	path = tests/rapidcheck
	url = https://github.com/ZhangXu-Happy/rapidcheck.git
